boards/d12x/demo68-nor/src/etctmp/*
**/*.o
boards/d12x/demo68-nor/src/etctmp.c
**/.depend
**/Make.dep
tools/scripts/Cryptodome/**/*.pyc
pack/prebuilt/rodata.fatf*
pack/prebuilt/nuttx.bin
pack/prebuilt/data.lfs
pack/prebuilt/d12x.elf
pack/prebuilt/d12x_os.itb
pack/prebuilt/d12x_demo68-nor_v1.0.0.img
boards/d12x/demo68-nor/src/libboard.a
**/.built
**/.kconfig
.kconfig
Kconfig
toolchain/